<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pinyougou.page.listener.GoodsPageGenHtmlMessageListener" id="messageListener"></bean>

    <!--配置消费者-->
    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" id="consumer" init-method="start" destroy-method="shutdown">
        <!--配置nameserver-->
        <property name="namesrvAddr" value="127.0.0.1:9876"></property>
        <!--配置消费者组-->
        <property name="consumerGroup" value="consumer_page_service_group"></property>
        <!--消费模式custring -->
        <property name="messageModel" value="BROADCASTING"></property>
        <!--设置主题-->
        <property name="subscription">
            <map>
                <entry key="Goods_Topic" value="*"></entry>
            </map>
        </property>
        <!--设置监听器-->
        <property name="messageListener" ref="messageListener"></property>

    </bean>

</beans>